@model Producer
@{
    ViewData["Title"] = "Delete a producer";
}
<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1 class="text-center">Delete @Model.FullName</h1>
        </p>
        @if (Model != null)
        {
            <div class="row">
                <div class="col-md-8 offset-2">
                    <hr style="margin-left:20px" />
                    <form asp-action="Delete" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-check text-center">
                            <img id="ProfilePicturePreview" class="border_info rounded-circle" style="max-width:150px" />
                        </div>
                        <div class="form-check">
                            <label asp-for="PictureProfileURL"></label>
                            <input asp-for="PictureProfileURL" type="text" class="form-control" id="ImageURLInput" readonly />
                            <span asp-validation-for="PictureProfileURL" class="text-danger"></span>
                        </div>
                        <div class="form-check">
                            <label asp-for="FullName"></label>
                            <input asp-for="FullName" type="text" class="form-control" readonly />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-check">
                            <label asp-for="Bio"></label>
                            <input asp-for="Bio" type="text" class="form-control" readonly />
                            <span asp-validation-for="Bio" class="text-danger"></span>
                        </div>
                        <hr style="margin-left:20px" />
                        <div>
                            <form asp-action="Delete" method="post">
                                <input type="hidden" asp-for="Id" />
                                <input type="submit" value="Delete" class="btn btn-danger float-end" />
                            </form>
                            <a asp-action="Index" class="btn btn-outline-secondary" style="margin-left:20px">Show all</a>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $('#ImageURLInput').val();
        });
    </script>
}